body {
  font-family: Arial;
  background-color: #f5f5dc;
  color: #c9d1d;
}
h1 {
  color: #b21807;
}

a {
  color: #f0e68c;
  text-decoration: none;
}
a:hover {
  color: #ffd1df;
  font-weight: bold;
  font-size: 22px;
}
a::after {
  content: " 🥵";
}

ul > li {
  font-weight: bold;
}

ul li:hover {
  background-color: #c9d1d9;
}
ul li:nth-child(3) {
  color: #a26659;
}
ul li::before {
  content: " 🎀";
}

p::firt-letter {
  font-size: 50%;
  color: #aaaaaa;
}
